@use '@/App';

.container {
  display: flex;
  position: relative;
}

// Antd 4.16.3 {float: right} won't work
.right-style {
  margin-left: auto;
}

.iconSizeLarge {
  font-size: App.$iconSizeLarge !important;
}

.iconSizeMedium {
  font-size: App.$iconSizeMedium !important;
}

.layout-page-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon-action {
  font-size: 32px;
  margin-bottom: 10;
}

.avatar {
    font-size: large;
}